.borders {
  align-items: center;
  margin-top: 3rem;
  gap: 1.5rem 0.8rem;

  @media screen and (max-width: 56.25em) {
    gap: 1.5rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: var(--fw-600);
    margin-right: 1.5rem;

    @media screen and (max-width: 75em) {
      flex: 100%;
    }
  }
}
